.card {
  position: relative;
  max-width: 270px;
  background-color: #fff;
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.card__picture {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 12px 10px;
}

.card__title {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.card__subtitle {
  margin: 0;
  padding-left: 12px;
  padding-bottom: 14px;
  color: #A0A0A0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.card__button-save {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.09);
  background-color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
}

.card__button-save::after {
  position: absolute;
  align-self: center;
  top: 2px;
  left: 2px;
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #F9F9F9;
  outline: none;
  border: none;
}

.card__button_saved {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.09);
  background-color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
}

.card__button_saved::after {
  position: absolute;
  align-self: center;
  top: 2px;
  left: 2px;
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #2BE080;
  outline: none;
  border: none;
}

.card__button-remove {
  background-color: #FFF;
  background-image: url(../../images/removeicon.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .card {
    max-width: 339px;
  }
}