.portfolio {
  padding: 0 70px 125px;
  background: #FAFAFA;
}

.portfolio__title {
  margin: 0;
  color: #A0A0A0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px; 
}

.portfolio__list {
  margin: 0;
  padding: 50px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style-type: none;
}

.portfolio__item {
  padding-bottom: 19px;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__item:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 520px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    font-size: 14px;
  }

  .portfolio__list {
    padding: 40px 0 0;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}