.navtab {
  background: #F5F5F5;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navtab__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
  list-style-type: none;
}

.navtab__link {
  color: #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; 
  text-decoration-line: underline;
}

@media screen and (max-width: 520px) {
  .navtab {
    padding: 25px 53px;
  }

  .navtab__links {
    column-gap: 24px;
  }

  .navtab__link {
    font-size: 11px;
  }
}